.box {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 82%;
    grid-template-rows: 60%;
    /* width: 80%; */
    justify-content: right;
}

img {
    height: 240px;
    margin: 1rem auto;
}