.navbar, .navbar-toggle{
    height: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    display: absolute;
}

.nav-menu {
    /* background-color: #060b26; */
    font-size: 2.5vh;
    width: 20%;
    height: 90%;
    position: flex;
    /* position: fixed;
    top: 5%;
    left: 2%; */
    
    /* justify-content: flex-start; */
    
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 7vh;
    border: 1px solid beige;
    border-radius: 20px;
    width: 80%;
    margin: 3% 0;
}

.nav-text a {
    text-decoration: none;
    color: white;
    height: 100%; 
    display: flex;
    align-items: center;
    padding-left: 1rem;

}

.nav-text a:hover {
    background-color: #1a83ff;
    color: black;
    width: 100%;
    border-radius: 20px;
}

.nav-menu-items {
    width: 100%;
}

span {
    margin-left: 6px;
} 

#logo {
    width: 80%;
    height: 80%;
    background-color:white;
    padding: 8%;  
}