.navbar {
    height: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    display: absolute;
}

.nav-menu {
    background-color: #060b26;
    width: 20%;
    height: 100%;
    font-size: 1rem;
    justify-content: flex-start;
    position: fixed;
    top: 0;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 8vh;
}

.nav-text a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    width: 80%;
    height: 100%; 
    display: flex;
    align-items: center;
    border-radius: 4px;;
}

.nav-text a:hover {
    background-color: #1a83ff;
    color: black;
}

.nav-menu-items {
    width: 100%;
}

span {
    margin-left: 6px;
} 

#logo {
    width: 80%;
    height: 80%;
    background-color:white;
    padding: 8%;
}